/* Opções de produtos que aparecerem na tela um ao lado do outro */
.main-lista-produtos {
    width: 940px;
    margin: 0 auto;
    /* Descolar o conteúdo do cabeçalho aumentando o espaçamento interno configurando valor para cima e baixo e zero para os lados */
    padding: 50px 0;
}

/* Itens da lista de produtos */
.main-lista-produtos-itens {
    /* Posiciona os itens da lista um ao lado do outro na horizontal ocupando apenas o tamanho do conteúdo deles */
    display: inline-block;
    width: 30%;
    /* Quando usamos o inline-block, como acima, é alinhado pela linha debaixo, mas nós precisamos pela linha de cima, a primeira */
    vertical-align: top;
    margin: 0 0 1.5% 1.5%;
    padding: 30px 20px;
    /* Com a propriedade abaixo, os 30% acima serão sempre 30% e o padding de 20% acima será dentro desses 30%, assim os itens da lista continuarão lado a lado, sem quebra de linha */
    box-sizing: border-box;
    /* Tamanho, tipo e cor */
    border: 2px solid #000000;
    /* Arredonda todos os cantos de forma igual */
    border-radius: 10px;
}

/* Quando passa o mouse em cima do item de menu */
.main-lista-produtos-itens:hover {
    border-color: #C78C19;
}

/* Quando clica sobre o item de menu com o mouse */
.main-lista-produtos-itens:active {
    border-color: #088C19;
}

/* Alterar o h2 quando o mouse estiver por cima do li (produtos) */
.main-lista-produtos-itens:hover h2 {
    font-size: 34px;
}

.main-lista-produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.main-lista-produtos-itens-produto-descricao {
    font-size: 18px;
}

.main-lista-produtos-itens-produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    /* 40 pixels para cima e baixo */
    margin: 40px 0;
}

form label, form legend {
    /* ocupa 100% */
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    /* ocupa 100% */
    display: block;
    margin: 0 0 20px;
    /* A propriedade padding serve para alterarmos o espaçamento interno, entre o conteúdo e a borda */
    padding: 10px 25px;
    width: 50%;
}

.checkbox { 
    margin: 20px 0;
}

/* prioridade: tag --> class --> id --> inline no html (style="color: purple;") */

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    /* Canto do botão arrendodado */
    border-radius: 5px;
    transition: 1s all;
    /* Coloca o mouse em forma de mãozinha para mostrar ao usuário que é clicável */
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
    /* O botão rotaciona na tela em 70 graus 
    transform: rotate(70deg); */
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}